.idea
.git
.npmignore

demo
node_modules

*.log
*.tgz

src/*.js
src/*.js.map
/node_modules

/config
/demo
/test
/typings
/tsconfig.json
/tslint.json
/typings.json
/webpack.config.js

.gitignore
.npmignore
*.ngsummary.json
*.ngfactory.ts
*.lock